.catalog {
  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
    margin-bottom: 70px;
    list-style-type: none;

    @media (max-width: 930px) {
      padding: 0 20px;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }

    @media (max-width: 690px) {
      grid-template-columns: minmax(270px, 450px);
      justify-content: center;
    }
  }
}